body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #e4f9f5;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 5rem;
  width: 50%;
  font-family: 'Sacramento', cursive;
  color: #11999e;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #11999e;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}
p{
  color: #11999e;
}
span {
  text-decoration: underline;
}

.top-container {
  background-color: #30e3ca;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-img {
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.info-container {
  text-align: left;
  margin:auto 2rem auto 2rem;
  line-height: 3;
}
