body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #e4f9f5;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 4rem;
  width: 50%;
  font-family: 'Pacifico', cursive;
  color: #11999e;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #11999e;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  font-size: 70%;
}

h6{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 50%;
  margin: 1rem auto 1rem auto;
}

p{
  color: #11999e;
}
span {
  text-decoration: underline;
}
hr{
  border-top: 8px dotted gray;
  width: 6rem;
}
a {
  text-decoration-line: none;
  color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
footer{
  background-color: #30e3ca;
  padding: 1rem;
}

.top-container {
  background-color: #30e3ca;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.profile-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.info-container {
  text-align: left;
  margin:auto 2rem auto 2rem;
  line-height: 3;
}
.inline {
  display: inline;
}
.margin-left {
  margin-left: 30px;
}
